Repository nspcc-dev/neofs-node, pull requests merged in 2020-12, with the labels that each got.

#221 eacl: Get rid of deprecated methods usage
  go.mod
  go.sum
  pkg/services/object/acl/eacl/v2/eacl_test.go
  pkg/services/object/acl/eacl/validator.go
Labels: bug, enhancement, neofs-cli, neofs-storage

#223 [#215] placement: Fix local and single-success placement traversal
  pkg/services/object_manager/placement/traverser.go
  pkg/services/object_manager/placement/traverser_test.go
Labels: bug, neofs-storage

#227 Add some changes to split-transformation
  pkg/services/object_manager/transformer/transformer.go
Labels: enhancement, neofs-storage

#237 metabase: Structure parameters and results of all operations
  pkg/local_object_storage/metabase/cleanup.go
  pkg/local_object_storage/metabase/containers_test.go
  pkg/local_object_storage/metabase/db_test.go
  pkg/local_object_storage/metabase/delete.go
  pkg/local_object_storage/metabase/delete_test.go
  pkg/local_object_storage/metabase/exists.go
  pkg/local_object_storage/metabase/exists_test.go
  pkg/local_object_storage/metabase/get.go
  pkg/local_object_storage/metabase/get_test.go
  pkg/local_object_storage/metabase/inhume.go
  pkg/local_object_storage/metabase/inhume_test.go
  pkg/local_object_storage/metabase/movable.go
  pkg/local_object_storage/metabase/movable_test.go
  pkg/local_object_storage/metabase/put.go
  pkg/local_object_storage/metabase/put_test.go
  pkg/local_object_storage/metabase/select.go
  pkg/local_object_storage/metabase/select_test.go
  pkg/local_object_storage/metabase/small.go
  pkg/local_object_storage/metabase/small_test.go
  pkg/local_object_storage/shard/delete.go
  pkg/local_object_storage/shard/exists.go
  pkg/local_object_storage/shard/get.go
  pkg/local_object_storage/shard/head.go
  pkg/local_object_storage/shard/inhume.go
  pkg/local_object_storage/shard/list.go
  pkg/local_object_storage/shard/move.go
  pkg/local_object_storage/shard/put.go
  pkg/local_object_storage/shard/select.go
Labels: enhancement, neofs-storage

#239 object/head: Implement new service processing
  cmd/neofs-node/object.go
  pkg/services/object/get/exec.go
  pkg/services/object/get/get.go
  pkg/services/object/get/get_test.go
  pkg/services/object/get/local.go
  pkg/services/object/get/prm.go
  pkg/services/object/get/remote.go
  pkg/services/object/get/service.go
  pkg/services/object/get/util.go
  pkg/services/object/get/v2/service.go
  pkg/services/object/get/v2/util.go
Labels: enhancement, neofs-storage

#244 cmd/cli: Support raw flag in object GET/HEAD/RANGE commands
  cmd/neofs-cli/modules/object.go
Labels: enhancement, neofs-cli

#245 blobovnicza: Fix initializing dimensional buckets
  pkg/local_object_storage/blobovnicza/iterate.go
  pkg/local_object_storage/blobovnicza/sizes.go
Labels: bug, neofs-storage

#246 Fix deadlock on concurrent evict and open new blobovnicza
  pkg/local_object_storage/blobstor/blobovnicza.go
Labels: bug, neofs-storage

#248 Print split header values in Head command
  cmd/neofs-cli/modules/object.go
Labels: enhancement, neofs-cli

#250 service/policer: Don't shrink node list at unknown error
  pkg/services/policer/check.go
Labels: bug, neofs-storage

#261 metabase: Add prefix to Graveyard and ToMoveIt bucket names
  pkg/local_object_storage/metabase/containers.go
  pkg/local_object_storage/metabase/containers_test.go
  pkg/local_object_storage/metabase/util.go
Labels: bug, neofs-storage

#272 services/audit: Implement PoP check
  pkg/services/audit/auditor/context.go
  pkg/services/audit/auditor/exec.go
  pkg/services/audit/auditor/pop.go
  pkg/services/audit/auditor/por.go
  pkg/services/audit/auditor/util.go
  pkg/services/audit/report.go
Labels: neofs-ir

#274 Implement GetRangeHash in audit communicator
  pkg/innerring/rpc.go
Labels: neofs-ir

#275 Small delayed fixes for audit processor
  cmd/neofs-ir/defaults.go
  pkg/innerring/innerring.go
  pkg/innerring/processors/audit/process.go
  pkg/innerring/processors/audit/processor.go
Labels: neofs-ir

#280 cli: Support request X-Headers
  cmd/neofs-cli/modules/accounting.go
  cmd/neofs-cli/modules/container.go
  cmd/neofs-cli/modules/netmap.go
  cmd/neofs-cli/modules/object.go
  cmd/neofs-cli/modules/root.go
Labels: enhancement, neofs-cli
