Repository nspcc-dev/neofs-node, pull requests merged in 2020-11, with the labels that each got.

#134 Resend bootstrap txs periodically
  cmd/neofs-node/config.go
  cmd/neofs-node/netmap.go
Labels: enhancement, neofs-storage

#141 Fix double emission on asset mint
  cmd/neofs-ir/defaults.go
  go.mod
  pkg/innerring/innerring.go
  pkg/innerring/processors/neofs/process_assets.go
  pkg/innerring/processors/neofs/processor.go
Labels: neofs-ir

#154 Use base name as `FileName` attribute value
  cmd/neofs-cli/modules/object.go
Labels: bug, neofs-cli

#153 Set stdout as default output for CLI
  cmd/neofs-cli/modules/root.go
Labels: bug, neofs-cli

#155 Update neofs-api-go with refactored pkg/netmap
  cmd/neofs-cli/modules/container.go
  go.mod
  go.sum
  pkg/core/container/fmt_test.go
  pkg/innerring/invoke/netmap.go
  pkg/innerring/processors/netmap/cleanup_table_test.go
  pkg/morph/client/netmap/wrapper/netmap.go
  pkg/policy/encode.go
  pkg/policy/query.go
  pkg/policy/query_test.go
  pkg/services/object/acl/classifier.go
  pkg/services/object/util/local.go
  pkg/services/object_manager/placement/traverser.go
  pkg/services/object_manager/placement/traverser_test.go
  pkg/services/policer/check.go
  pkg/services/replicator/process.go
Labels: enhancement

#145 Implement netmap module in CLI
  cmd/neofs-cli/modules/netmap.go
Labels: enhancement, neofs-cli

#163 object/delete: Add address from request body to tombstone content
  pkg/services/object/delete/service.go
Labels: bug, neofs-storage

#164 Fix inconsistent deleting the linking object
  pkg/services/object/head/relation.go
Labels: bug, neofs-storage

#165 Revert "[#142] metabase: Store header value index in a tree leaf"
  pkg/local_object_storage/metabase/put.go
  pkg/local_object_storage/metabase/select.go
Labels: enhancement, neofs-storage

#159 Add util keyer to CLI
  cmd/neofs-cli/modules/util.go
  pkg/util/keyer/dashboard.go
  pkg/util/keyer/parser.go
Labels: enhancement, neofs-cli

#166 Use async pools in object service handlers
  cmd/neofs-node/config.go
  cmd/neofs-node/object.go
Labels: enhancement, neofs-storage

#171 Increase extra gas on `ApprovePeer` method
  pkg/innerring/invoke/netmap.go
Labels: neofs-ir

#173 Add `--ttl` argument in CLI
  cmd/neofs-cli/modules/accounting.go
  cmd/neofs-cli/modules/container.go
  cmd/neofs-cli/modules/netmap.go
  cmd/neofs-cli/modules/object.go
  cmd/neofs-cli/modules/root.go
Labels: enhancement

#175 Add release instruction document
  docs/release-instruction.md
Labels: documentation, enhancement

#185 Increase golangci-lint timeout
  .github/workflows/go.yml
  Makefile
Labels: enhancement

#187 Limit policer object filter to phy objects only
  pkg/services/policer/queue.go
Labels: bug, neofs-storage

#192 cmd/neofs-cli: Implement range command in Object section
  cmd/neofs-cli/modules/object.go
Labels: enhancement, neofs-cli

#197 Use non-blocking worker pools for Object services
  cmd/neofs-node/config.go
Labels: enhancement, neofs-storage

#210 Support object ID filter in eACL mechanism
  pkg/services/object/acl/eacl/v2/object.go
Labels: bug, neofs-storage
