Repository nspcc-dev/neofs-node, pull requests merged in 2021-12, with the labels that each got.

#1000 Fix/Ignore zero subnet validation
  pkg/innerring/processors/netmap/nodevalidation/subnet/calls.go
Labels: bug, neofs-ir

#1003 Parse and listen `RemoveNode` event in IR
  pkg/innerring/processors/netmap/processor.go
Labels: neofs-ir

#1005 fix neofs-node usage message
  cmd/neofs-node/main.go
Labels: bug

#1012 Call Register method on peer approval
  pkg/innerring/processors/netmap/process_peers.go
Labels: neofs-ir

#1010 metabase: Copy BoltDB value returned by IsSmall
  pkg/local_object_storage/metabase/small.go
Labels: bug, neofs-storage

#1019 Feat/Fetch `subnet` SH from NNS
  cmd/neofs-adm/internal/modules/morph/subnet.go
Labels: neofs-adm

#1011 Customize fee for named container registration
  cmd/neofs-ir/defaults.go
  pkg/innerring/config/fee.go
  pkg/innerring/innerring.go
  pkg/morph/client/container/wrapper/wrapper.go
  pkg/morph/client/fee.go
  pkg/morph/client/fee_test.go
  pkg/morph/client/static.go
Labels: enhancement, neofs-ir

#1024 Feat/Change private key to wallet in `subnet` command flags
  cmd/neofs-adm/internal/modules/morph/subnet.go
Labels: neofs-adm

#1033 README typo fixes
  README.md
Labels: documentation

#1034 Add shorthand for `generate-key` flag
  cmd/neofs-cli/modules/root.go
Labels: enhancement

#1028 writecache: Fix repetitive `BlobStor` writes
  pkg/local_object_storage/writecache/flush.go
Labels: bug, neofs-storage

#1040 Support autocomplete in neofs-adm
  cmd/neofs-adm/internal/modules/autocomplete.go
  cmd/neofs-adm/internal/modules/root.go
Labels: neofs-adm

#1022 writecache: Fix db counter decrement
  pkg/local_object_storage/writecache/storage.go
Labels: community

#1039 Feat/Make return codes depend on errors
  cmd/neofs-cli/modules/util.go
Labels: neofs-cli

#1047 policer: Check context before job selection
  pkg/services/policer/process.go
Labels: bug, neofs-storage

#1038 Feat/Do not cut deploy args in `NNS`
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
Labels: neofs-adm

#1065 neofs-adm: deploy proxy contract without arguments
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
Labels: neofs-adm
