Repository nspcc-dev/neofs-node, pull requests merged in 2021-09, with the labels that each got.

#787 Fix attribute parser issues
  pkg/util/attributes/parser.go
  pkg/util/attributes/parser_test.go
Labels: bug

#800 Print tx IDs in LE on Withdraw and Deposit events
  pkg/innerring/processors/neofs/handlers.go
Labels: bug, neofs-ir

#788 Fix/Wrap CLI errors with context information
  cmd/neofs-cli/modules/container.go
  cmd/neofs-cli/modules/control.go
  cmd/neofs-cli/modules/object.go
  cmd/neofs-cli/modules/root.go
  cmd/neofs-cli/modules/storagegroup.go
Labels: bug, neofs-cli

#819 object/acl: Fit sticky bit specification
  pkg/services/object/acl/acl.go
  pkg/services/object/acl/acl_test.go
Labels: bug, neofs-storage

#813 Return the composite error of PUT operation
  pkg/services/object/put/distributed.go
Labels: neofs-storage

#834 Fix updating routine in neofs-adm
  cmd/neofs-adm/internal/modules/morph/initialize.go
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
  cmd/neofs-adm/internal/modules/morph/update.go
Labels: bug, neofs-adm

#836 Do not specify owner in the contract deployment
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
Labels: bug, enhancement, neofs-adm

#848 ir/container: Prevent potential NPE in key conversion
  pkg/innerring/processors/container/common.go
Labels: bug, neofs-ir

#837 Feature/Add `WithSingleClient` client constructor option
  pkg/morph/client/client.go
  pkg/morph/client/constructor.go
  pkg/morph/client/multi.go
  pkg/morph/client/notary.go
Labels: enhancement

#839 service/object: Do not use request forwarding when assembling object
  pkg/services/object/get/assemble.go
  pkg/services/object/get/exec.go
  pkg/services/object/get/util.go
Labels: bug, neofs-storage

#852 neofs-node: Ignore proxy contract in notary disabled environment
  cmd/neofs-node/morph.go
Labels: bug, neofs-storage

#864 Don't connect storage node to main chain
  cmd/neofs-node/config.go
  cmd/neofs-node/morph.go
Labels: bug, neofs-storage

#867 governance: Add more logs of the alphabet and inner ring lists
  pkg/innerring/processors/governance/process_update.go
  pkg/innerring/state.go
Labels: neofs-ir

#869 governance: Add option to disable governance sync
  cmd/neofs-ir/defaults.go
  pkg/innerring/innerring.go
Labels: neofs-ir
