Repository nspcc-dev/neofs-node, pull requests merged in 2021-07, with the labels that each got.

#662 Add All-In-One NeoFS Docker image
  Dockerfile.aio
  Makefile
Labels: community, enhancement

#665 fix/return non-zero codes on errors
  cmd/neofs-cli/modules/accounting.go
  cmd/neofs-cli/modules/container.go
  cmd/neofs-cli/modules/control.go
  cmd/neofs-cli/modules/netmap.go
  cmd/neofs-cli/modules/object.go
  cmd/neofs-cli/modules/root.go
  cmd/neofs-cli/modules/storagegroup.go
  cmd/neofs-cli/modules/util.go
Labels: bug, neofs-cli

#668 fix/Skip audit for containers without SG
  pkg/innerring/processors/audit/process.go
Labels: bug, neofs-ir

#675 Feature/Support binary eACL format
  cmd/neofs-cli/modules/container.go
Labels: enhancement, neofs-cli

#680 Add Docker images for neofs-adm
  Dockerfile.adm
  Dockerfile.aio
  Dockerfile.dirty-adm
  Makefile
Labels: neofs-adm

#682 Move Docker files into a separate directory
  .docker/Dockerfile.adm
  .docker/Dockerfile.aio
  .docker/Dockerfile.cli
  .docker/Dockerfile.dirty-adm
  .docker/Dockerfile.dirty-cli
  .docker/Dockerfile.dirty-ir
  .docker/Dockerfile.dirty-storage
  .docker/Dockerfile.ir
  .docker/Dockerfile.storage
  .docker/Dockerfile.storage-testnet
  Makefile
Labels: enhancement

#683 Add CLI flags for morph commands in neofs-adm
  cmd/neofs-adm/internal/modules/config/config.go
  cmd/neofs-adm/internal/modules/morph/epoch.go
  cmd/neofs-adm/internal/modules/morph/generate.go
  cmd/neofs-adm/internal/modules/morph/initialize.go
  cmd/neofs-adm/internal/modules/morph/root.go
  cmd/neofs-adm/internal/modules/root.go
Labels: neofs-adm

#690 Fallback to wallet section if storage node's key is not set
  CHANGELOG.md
  cmd/neofs-node/config/node/config.go
  cmd/neofs-node/config/node/config_test.go
Labels: bug, neofs-storage

#706 Fix/Do not require `proxy` hash in notary disabled mode
  pkg/innerring/innerring.go
Labels: bug, neofs-ir

#710 Feat/Make `--address` flag optional
  cmd/neofs-cli/modules/root.go
Labels: enhancement, neofs-cli

#716 morph/client: Update last epoch block method name
  pkg/morph/client/netmap/client.go
  pkg/morph/client/netmap/epoch.go
Labels: bug

#718 Fix/Do not require `processing` hash in main notary disabled mode
  pkg/innerring/innerring.go
Labels: bug, neofs-ir

#725 config/testnet: Fix ports
  config/testnet/config.yml
Labels: bug

#723 container/announcement/storage: Map announcements by epoch and container id
  pkg/services/container/announcement/load/storage/storage.go
Labels: bug

#729 neofs-adm: initialize netmap contract
  cmd/neofs-adm/internal/modules/morph/initialize.go
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
Labels: neofs-adm

#724 neofs-adm: implement `morph force-new-epoch`
  cmd/neofs-adm/internal/modules/morph/epoch.go
  cmd/neofs-adm/internal/modules/morph/initialize.go
Labels: neofs-adm
