Repository nspcc-dev/neofs-node, pull requests merged in 2021-08, with the labels that each got.

#740 Fix/Fix reading notary config
  pkg/innerring/notary.go
Labels: bug

#747 Fix/Support reading paths with `~` for Alphabet wallets in neofs-adm
  cmd/neofs-adm/internal/modules/config/util.go
  cmd/neofs-adm/internal/modules/morph/generate.go
  cmd/neofs-adm/internal/modules/morph/initialize.go
Labels: bug, neofs-adm

#765 services/policer: Select pseudo-random list of objects to check
  pkg/services/policer/queue.go
Labels: neofs-storage

#764 adm: Implement command to refill storage node's GAS
  cmd/neofs-adm/internal/modules/morph/generate.go
  cmd/neofs-adm/internal/modules/morph/root.go
Labels: enhancement, neofs-adm

#779 Cache the results of Container read operations
  cmd/neofs-node/cache.go
  cmd/neofs-node/config.go
  cmd/neofs-node/container.go
  cmd/neofs-node/object.go
  pkg/services/container/morph/executor.go
Labels: bug, neofs-storage

#782 config/testnet: Fix examples in README
  config/testnet/README.md
Labels: bug
