Repository nspcc-dev/neofs-node, pull requests merged in 2021-11, with the labels that each got.

#946 ir: Refactor usage of NeoFS API client
  pkg/innerring/innerring.go
  pkg/innerring/internal/client/client.go
  pkg/innerring/internal/client/doc.go
  pkg/innerring/internal/client/prm.go
  pkg/innerring/processors/audit/process.go
  pkg/innerring/processors/audit/processor.go
  pkg/innerring/rpc.go
Labels: neofs-ir, refactor

#953 Make notary deposit on notification instead of timer
  pkg/innerring/blocktimer.go
  pkg/innerring/innerring.go
  pkg/innerring/notary.go
  pkg/innerring/processors/netmap/handlers.go
  pkg/innerring/processors/netmap/process_epoch.go
  pkg/innerring/processors/netmap/processor.go
Labels: bug, neofs-ir

#960 cli/locode: Open RO database in `info` command
  cmd/neofs-cli/modules/util.go
Labels: bug, neofs-cli

#963 ir/netmap: Call AddPeer method if existing candidate was updated
  pkg/innerring/processors/netmap/cleanup_table.go
  pkg/innerring/processors/netmap/cleanup_table_test.go
  pkg/innerring/processors/netmap/process_peers.go
Labels: enhancement, neofs-ir

#981 neofs-cli: Attach x-headers in object range
  cmd/neofs-cli/internal/client/client.go
Labels: bug, neofs-cli

#988 Feat/Add `subnet` flag to `container create`
  cmd/neofs-cli/modules/container.go
Labels: neofs-cli
