Repository nspcc-dev/neofs-node, pull requests merged in 2021-02, with the labels that each got.

#361 metabase: Support new match types
  go.mod
  go.sum
  pkg/local_object_storage/metabase/db.go
  pkg/local_object_storage/metabase/select.go
  pkg/local_object_storage/metabase/select_test.go
Labels: enhancement, neofs-storage

#364 [#202] object/eacl: Verify signature of eACL table
  pkg/services/object/acl/eacl/opts.go
Labels: neofs-storage

#367 Don't update local node info for bootstrap
  cmd/neofs-node/config.go
  cmd/neofs-node/netmap.go
Labels: neofs-storage

#375 Update storagegroup commands in CLI
  cmd/neofs-cli/modules/storagegroup.go
Labels: enhancement, neofs-cli

#383 Fix node info approval in netmap processor
  pkg/innerring/processors/netmap/process_peers.go
Labels: bug, neofs-ir

#384 storage engine: Inhume object in one shard
  pkg/local_object_storage/engine/inhume.go
Labels: bug, neofs-storage

#389 [#368] object: Reject expired objects
  pkg/core/object/fmt.go
  pkg/core/object/fmt_test.go
  pkg/services/object/put/service.go
Labels: neofs-storage

#385 [#219] metabase: Count parent references in Delete operation
  pkg/local_object_storage/metabase/delete.go
  pkg/local_object_storage/metabase/delete_test.go
Labels: bug, neofs-storage

#400 metabase: Do not add tombstone-on-tombstone records to graveyard
  pkg/local_object_storage/metabase/inhume.go
  pkg/local_object_storage/metabase/inhume_test.go
Labels: bug, neofs-storage

#402 CLI: Use bearer token when collecting storage group members
  cmd/neofs-cli/modules/storagegroup.go
Labels: bug, neofs-cli

#408 CLI: Add dedicated flag to indicate object expiration
  cmd/neofs-cli/modules/object.go
Labels: enhancement, neofs-cli

#407 IR: Support working with sidechain only
  cmd/neofs-ir/defaults.go
  pkg/innerring/innerring.go
Labels: enhancement, neofs-ir

#410 pkg/policy: Parse strings in filter key
  pkg/policy/grammar.ebnf
  pkg/policy/grammar.go
  pkg/policy/query_test.go
Labels: bug

#411 IR: Make UN-LOCODE attribute of the network map candidate optional
  pkg/innerring/processors/netmap/nodevalidation/locode/calls.go
Labels: bug, neofs-ir
