Repository nspcc-dev/neofs-node, pull requests merged in 2022-08, with the labels that each got.

#1655 Fix/Do not force specifying session lifetime
  CHANGELOG.md
  cmd/neofs-cli/modules/session/create.go
Labels: bug, neofs-cli

#1654 Fix/Do not print false warning about deprecated config
  cmd/neofs-ir/defaults.go
  cmd/neofs-ir/main.go
  cmd/neofs-node/config/metrics/config.go
  cmd/neofs-node/config/profiler/config.go
  config/example/node.env
  config/example/node.json
Labels: bug

#1643 innerring: exit if we cannot bind to the control endpoint
  CHANGELOG.md
  pkg/innerring/innerring.go
Labels: bug

#1651 Fix/CID setting in eACL creation
  CHANGELOG.md
  cmd/neofs-cli/modules/acl/extended/create.go
Labels: bug, neofs-cli

#1653 Fix/Handle chain notifications via pool
  pkg/morph/event/listener.go
Labels: bug

#1672 Fix/Panic on write-cache `Delete` operation
  CHANGELOG.md
  pkg/local_object_storage/writecache/delete.go
Labels: bug, neofs-storage

#1685 [#1647] writecache: Open DB in sync mode
  pkg/local_object_storage/writecache/util.go
Labels: bug

#1706 Fix/SG put
  CHANGELOG.md
  cmd/neofs-cli/modules/storagegroup/put.go
Labels: bug, neofs-cli

#1715 [#1296] cli: "ID" -> "OID"
  CHANGELOG.md
  cmd/neofs-cli/modules/object/put.go
Labels: neofs-cli

#1728 Improve neofs adm desc
  cmd/neofs-adm/internal/modules/morph/deploy.go
Labels: documentation

#1738 neofs-adm: clean tx hash list after awaiting
  cmd/neofs-adm/internal/modules/morph/initialize.go
Labels: neofs-adm
