Repository nspcc-dev/neofs-node, pull requests merged in 2022-10, with the labels that each got.

#1830 Refactor/Config in SN
  cmd/neofs-node/config.go
  cmd/neofs-node/object.go
Labels: neofs-storage, refactor, P1

#1839 engine: handle Inhume errors properly
  CHANGELOG.md
  pkg/local_object_storage/engine/delete.go
  pkg/local_object_storage/engine/inhume.go
Labels: bug, P1, 2022Q3

#1856 Fix config rereading
  cmd/neofs-node/config.go
Labels: bug, neofs-storage

#1875 Fix/Keep local node info in sync
  CHANGELOG.md
  cmd/neofs-node/netmap.go
Labels: neofs-storage

#1887 Fix/Shard id in the object counter metrics
  CHANGELOG.md
  pkg/local_object_storage/engine/shards.go
  pkg/local_object_storage/shard/id.go
  pkg/local_object_storage/shard/metrics_test.go
  pkg/local_object_storage/shard/shard.go
Labels: bug, P2

#1903 neofs-adm: expand update parameters in `MakeCall`
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
Labels: bug, neofs-adm, P0
