Repository nspcc-dev/neofs-node, pull requests merged in 2022-04, with the labels that each got.

#1290 [#1288] neofs-adm: Allow to store garbage in alphabet wallet dir
  cmd/neofs-adm/internal/modules/morph/initialize.go
Labels: neofs-adm

#1289 neofs-adm: allow to change parameters of the Policy contract
  cmd/neofs-adm/internal/modules/morph/policy.go
  cmd/neofs-adm/internal/modules/morph/root.go
Labels: neofs-adm

#1293 metabase: Fix out-of-range panic in `freePotentialLocks`
  pkg/local_object_storage/metabase/lock.go
Labels: bug

#1298 [#1295] neofs-adm: Add contract group wallet to config template
  cmd/neofs-adm/internal/modules/config/config.go
  cmd/neofs-adm/internal/modules/config/config_test.go
Labels: neofs-adm

#1311 neofs-adm: set stdout as default output
  cmd/neofs-adm/internal/modules/root.go
Labels: bug, neofs-adm

#1314 container: Do not invalidate cache on `Container.Delete`
  cmd/neofs-node/cache.go
  cmd/neofs-node/container.go
Labels: neofs-storage

#1321 Fix/GC's event handler registration
  cmd/neofs-node/config.go
  pkg/local_object_storage/engine/lock_test.go
  pkg/local_object_storage/shard/gc.go
  pkg/local_object_storage/shard/shard.go
Labels: bug, neofs-storage

#1287 [#1283] services/object: Disallow creating objects without a session …
  pkg/core/object/fmt.go
  pkg/core/object/fmt_test.go
  pkg/services/object/put/streamer.go
  pkg/services/object/put/validation.go
Labels: bug, neofs-storage
