Repository nspcc-dev/neofs-node, pull requests merged in 2022-05, with the labels that each got.

#1353 cli: Fix connection scheme loss during endpoint parsing
  CHANGELOG.md
  cmd/neofs-cli/internal/client/sdk.go
  cmd/neofs-cli/modules/control.go
  cmd/neofs-cli/modules/root.go
  cmd/neofs-node/config/node/config_test.go
  pkg/network/address.go
  pkg/network/address_test.go
  pkg/network/cache/multi.go
  pkg/network/group.go
  pkg/network/tls.go
  pkg/network/tls_test.go
Labels: bug, neofs-cli

#1367 Fix/Add homomorphic hashing config param to `adm morph dump-config` command
  cmd/neofs-adm/internal/modules/morph/dump.go
Labels: neofs-adm

#1370 Feat/Set config via `adm`
  cmd/neofs-adm/README.md
  cmd/neofs-adm/internal/modules/morph/config.go
  cmd/neofs-adm/internal/modules/morph/root.go
Labels: neofs-adm

#1403 Fix/Add details to LOCODE errors
  pkg/util/locode/column/country.go
  pkg/util/locode/column/location.go
  pkg/util/locode/record.go
Labels: enhancement, neofs-ir
