Repository nspcc-dev/neofs-node, pull requests merged in 2024-05, with the labels that each got.

#2841 adm: never use GetContractStateByID(1) to retrieve NNS hash
  cmd/neofs-adm/internal/modules/morph/balance.go
  cmd/neofs-adm/internal/modules/morph/config.go
  cmd/neofs-adm/internal/modules/morph/container.go
  cmd/neofs-adm/internal/modules/morph/deploy.go
  cmd/neofs-adm/internal/modules/morph/dump_hashes.go
  cmd/neofs-adm/internal/modules/morph/dump_names.go
  cmd/neofs-adm/internal/modules/morph/epoch.go
  cmd/neofs-adm/internal/modules/morph/estimation.go
  cmd/neofs-adm/internal/modules/morph/initialize.go
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
  cmd/neofs-adm/internal/modules/morph/initialize_nns.go
  cmd/neofs-adm/internal/modules/morph/netmap_candidates.go
  cmd/neofs-adm/internal/modules/morph/remove_node.go
  cmd/neofs-adm/internal/modules/morph/renew_domain.go
Labels: neofs-adm

#2847 Use more of NNS wrapper in adm
  CHANGELOG.md
  cmd/neofs-adm/internal/modules/morph/balance.go
  cmd/neofs-adm/internal/modules/morph/config.go
  cmd/neofs-adm/internal/modules/morph/container.go
  cmd/neofs-adm/internal/modules/morph/deploy.go
  cmd/neofs-adm/internal/modules/morph/dump_hashes.go
  cmd/neofs-adm/internal/modules/morph/dump_names.go
  cmd/neofs-adm/internal/modules/morph/epoch.go
  cmd/neofs-adm/internal/modules/morph/estimation.go
  cmd/neofs-adm/internal/modules/morph/initialize_deploy.go
  cmd/neofs-adm/internal/modules/morph/initialize_nns.go
  cmd/neofs-adm/internal/modules/morph/netmap_candidates.go
  cmd/neofs-adm/internal/modules/morph/remove_node.go
  go.mod
  go.sum
Labels: neofs-adm

#2852 Storage list for lens
  CHANGELOG.md
  cmd/neofs-lens/internal/storage/list.go
  cmd/neofs-lens/internal/storage/root.go
Labels: neofs-lens

#2854 Update NeoGo
  CHANGELOG.md
  cmd/neofs-adm/internal/modules/morph/initialize_test.go
  cmd/neofs-adm/internal/modules/morph/local_client.go
  cmd/neofs-adm/internal/modules/morph/n3client.go
  cmd/neofs-adm/internal/modules/morph/verified_domains.go
  cmd/neofs-adm/internal/modules/storagecfg/root.go
  go.mod
  go.sum
  pkg/innerring/internal/blockchain/blockchain.go
  pkg/innerring/nns.go
  pkg/innerring/processors/governance/process_update.go
  pkg/innerring/processors/netmap/handlers.go
  pkg/innerring/processors/netmap/process_peers.go
  pkg/morph/event/notary_preparator.go
Labels: enhancement, U1, S2, I4

#2856 ir/config: Fix unenforced `morph.consensus.p2p.peers.min` config default
  CHANGELOG.md
  pkg/innerring/config.go
  pkg/innerring/config_test.go
Labels: bug, neofs-ir
